# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
libtool

*.m4
*.in
*.pc
*.libs
*.deps
*.cache
*.dirstamp
*.swp
*.orig
*.rej

bin
cmake-build-*
CMakeLists.txt.user
config*
Makefile
build-aux
test_tmp_*
libtool
docs/reference*
docs/*.html
docs/*.png
docs/*-ref.rst

.DS_Store
.idea
*~

# Compile and link flag files
bindings/python/*flags

# Logs
libtorrent_logs*
*.log

# Python related files and dirs
*.pyc
dist
*.egg-info

# python binary
bindings/python/compile_cmd

# binaries in the examples directory
examples/bt_get
examples/bt_get2
examples/client_test
examples/connection_tester
examples/custom_storage
examples/dump_torrent
examples/make_torrent
examples/simple_client
examples/stats_counters
examples/upnp_test

# binaries in the tests directory
tools/dht_put
tools/session_log_alerts