# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.m4
*.in
*.pc
*.libs
*.deps
*.cache
*.dirstamp

bin
config*
Makefile
build-aux
test_tmp_*

.DS_Store
.idea

# Compile and link flag files
bindings/python/*flags

# Logs
libtorrent_logs*
*.log
