language: cpp
dist: focal

matrix:
  fast_finish: true
  include:
    - env: variant=release toolset=gcc check_headers=1 python=1 python_dist=1
    - env: variant=debug crypto=openssl tests=1 examples=1 tools=1 toolset=darwin
      os: osx
      osx_image: xcode11.2
    - env: variant=debug crypto=openssl python=1 toolset=darwin ios=1
      os: osx
      osx_image: xcode11.2
    - env: variant=debug toolset=gcc pylint=1 clang_tidy=1
    - env: variant=debug tests=1 toolset=gcc sanitizer=on fuzzers=1
    - env: variant=debug tests=1 mmap=off toolset=gcc
    - env: variant=debug sim=1 crypto=openssl toolset=gcc sanitizer=on
    - env: variant=debug tests=1 crypto=gnutls toolset=gcc sanitizer=on
#    - env: variant=debug tests=1 crypto=wolfssl toolset=gcc sanitizer=on
    - env: variant=release coverage=1 toolset=gcc-coverage
    - env: dist=1 toolset=gcc docs=1
      addons:
        apt:
          packages:
          - python-docutils
          - python-pygments
          - python-pil
          - gsfonts
          - inkscape
          - icoutils
          - graphviz
          - hunspell
          - imagemagick
          - libboost-all-dev
          - libboost-tools-dev
          - python3.8-dev
          - ninja-build
    - env: cmake=1 toolset=gcc
    - env: toolset=gcc tests=1 variant=debug
      os: linux
      arch: arm64
    - env: toolset=gcc tests=1 variant=debug
      os: linux
      arch: s390x

notifications:
  email: false

git:
  submodules: false
  depth: 1

branches:
  only:
    - master
    - RC_2_0
    - RC_1_2
    - RC_1_1

cache:
  directories:
    - $HOME/.ccache
    - $HOME/boost

# sources  list: https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json,
# packages list: https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
addons:
  apt:
    packages:
    - python3-pip
    - python3.8-dev
    - ninja-build
    - libboost-all-dev
    - libboost-tools-dev
    - gnutls-dev

before_install:

  - 'if [[ "$TRAVIS_PULL_REQUEST" != "false" || "$TRAVIS_BRANCH" != "master" ]]; then
      export sonar_scan=0;
    fi'

  - cd $TRAVIS_BUILD_DIR
  - git submodule update --init --recursive
  - 'if [[ $crypto == "" ]]; then export crypto=built-in; fi'
  - 'if [[ $sanitizer == "" ]]; then export sanitizer=off; fi'
  - 'if [[ $mmap == "" ]]; then export mmap=on; fi'
  - 'if [[ $TRAVIS_OS_NAME != "osx" ]]; then
      export B2=b2;
      export PIP=pip;
    else
      export B2=b2;
      export PIP="python -m pip";
      sysctl hw.ncpu;
    fi'
  - 'if [[ $TRAVIS_OS_NAME == "osx" ]]; then
      travis_retry brew install ccache boost-build boost-python3 "python@3.9" ;
      export PYTHON_INCLUDE=`echo /usr/local/Cellar/python@3.9/*/Frameworks/Python.framework/Versions/3.9/include/python3.9` ;
    fi'
  # we have to use python from brew rather than the system provided python
  # because of OSX System Integrity Protection, which prevents injecting
  # user-libraries (i.e. python modules) into system binaries (i.e. /usr/bin/python)
  # it's important to install the brew python version before any pip packages,
  # as the pip packages may break if the version of python they used gets pulled
  # from under them
  - 'if [[ "$python" == "1" ]]; then
       which python3;
       which pip3;
       python3 --version;
    fi'

  - 'if [ "$docs" == "1" ]; then
      ${PIP} install aafigure;
    fi'

  - if [ "$coverage" == "1" ]; then
    ${PIP} install --user codecov;
    fi
  - 'echo "toolset: " ${toolset}'
  - 'echo "variant: " ${variant}'
# disable leak checking for now. it reports some suspicious reports against some
# tests
  - export ASAN_OPTIONS=detect_leaks=0;
  - ulimit -a

install:

  - touch ~/user-config.jam
  - 'if [[ $toolset == "gcc" ]]; then
      g++ --version;
      echo "using gcc : : ccache g++ : <linkflags>-fuse-ld=gold ;" >> ~/user-config.jam;
    fi'
  - 'if [[ $toolset == "gcc-coverage" ]]; then
      echo "using gcc : coverage : ccache g++ --coverage : <linkflags>--coverage ;" >> ~/user-config.jam;
    fi'
  - 'if [ $clang_tidy == "1" ]; then
      echo "using clang_tidy : : clang-tidy "-checks=-clang-analyzer-core.*,modernize-pass-by-value,modernize-use-auto,modernize-use-default-member-init,hicpp-deprecated-headers,readability-inconsistent-declaration-parameter-name,modernize-return-braced-init-list,readability-qualified-auto" : <cxxflags>-DBOOST_ASIO_DISABLE_STD_EXPERIMENTAL_STRING_VIEW=1 <cxxflags>-I/usr/local/clang-7.0.0/include/c++/v1 <cxxflags>-stdlib=libc++ <linkflags>-stdlib=libc++ ;" >> ~/user-config.jam;
    fi'
  - 'if [[ $TRAVIS_OS_NAME == "osx" ]]; then
       echo "using darwin : : ccache clang++ : ;" >> ~/user-config.jam;
       echo "using darwin : ios_sim : ccache clang++ : <compileflags>-Wno-deprecated-declarations
       <compileflags>\"-isysroot /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk\"
       <compileflags>-mios-simulator-version-min=7
       <compileflags>-fobjc-abi-version=2
       <linkflags>\"-isysroot /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk\"
       <linkflags>-mios-simulator-version-min=7
       <linkflags>-fobjc-abi-version=2 ;" >>~/user-config.jam;
       echo "using darwin : ios : ccache clang++ : <compileflags>-Wno-deprecated-declarations
       <compileflags>\"-isysroot /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk\"
       <compileflags>-mios-version-min=7
       <compileflags>\"-arch armv7\"
       <compileflags>-fobjc-abi-version=2
       <linkflags>\"-isysroot /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk\"
       <linkflags>-mios-version-min=7
       <linkflags>\"-arch armv7\"
       <linkflags>-fobjc-abi-version=2 ;" >>~/user-config.jam;
    fi'
  - 'echo "using python : 3.9 : /usr/local/opt/python@3.9/bin/python3 : $(PYTHON_INCLUDE) : /usr/local/opt/python@3.9/Frameworks/Python.framework/Versions/3.9/lib/python3.9/config-3.9-darwin : <target-os>darwin ;" >> ~/user-config.jam'
  - 'echo "using python : : $(which python3) : : : <target-os>linux ;" >> ~/user-config.jam'
  - if [ "$docs" == "1" ]; then rst2html --version; fi

  - 'if [ "$pylint" == "1" ]; then
      sudo pip3 install flake8;
      python3 -m flake8 --version;
    fi'

  - ccache -V
  - ccache --show-stats
  - ccache --zero-stats

  # CMake from Kitware is installed in /usr/bin. TravisCI installs its own cmake to another location
  # which overrides other installations if they don't call the new binary directly
  # Install and prepend a symlink to the latest version to PATH so that it gets used instead.
  - if [[ "$cmake" == "1" ]]; then
      wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | sudo tee /etc/apt/trusted.gpg.d/kitware.gpg >/dev/null;
      sudo apt-add-repository 'deb https://apt.kitware.com/ubuntu/ focal main';
      sudo apt install cmake;
      sudo mkdir -p /usr/local/cmake-latest/bin;
      sudo ln -s /usr/bin/cmake /usr/local/cmake-latest/bin/cmake;
      PATH=/usr/local/cmake-latest/bin:$PATH;
      which cmake;
      cmake --version;
    fi

  - if [[ "$crypto" == "wolfssl" ]]; then
      wget --no-verbose -O wolfssl-4.2.0-stable.zip https://github.com/wolfSSL/wolfssl/archive/v4.2.0-stable.zip;
      unzip wolfssl-4.2.0-stable.zip;
      cd wolfssl-4.2.0-stable;
      ./autogen.sh && ./configure --enable-asio --enable-sni --enable-nginx && make && sudo make install;
      cd ..;
    fi

script:

  - cd $TRAVIS_BUILD_DIR/docs;
  - 'if [ "$docs" == "1" ]; then
      make spell-check html;
    fi'

  - cd $TRAVIS_BUILD_DIR
  - 'if [ "$pylint" == "1" ]; then
      python3 -m flake8 --max-line-length=120 --ignore=E741,W504,E126,W503,E121,E124,E123;
    fi'
  - 'if [[ $clang_tidy == "1" ]]; then
       which clang-tidy;
       clang-tidy --version;
       ${B2} -a -j2 crypto=openssl cxxstd=14 clang_tidy;
    fi'

  # the common boost-build command line arguments. It's important they are all
  # the same, in order for builds to be reused between invocations
  - export B2_ARGS="export-extra=on mmap-disk-io=$mmap warnings=all crypto=$crypto debug-iterators=on picker-debugging=on asserts=on invariant-checks=full $toolset variant=$variant"
  - 'if [[ $sanitizer == "on" ]]; then
      export B2_ARGS="${B2_ARGS} address-sanitizer=norecover undefined-sanitizer=norecover";
    fi'

  - 'if [[ $TRAVIS_OS_NAME == "osx" && "$crypto" == "openssl" ]]; then
    export B2_ARGS="${B2_ARGS} openssl-lib=/usr/local/opt/openssl@1.1/lib openssl-include=/usr/local/opt/openssl@1.1/include" ;
    fi'

  - 'if [ "$check_headers" == "1" ]; then
      ${B2} -j2 crypto=openssl check-headers ${B2_ARGS};
    fi'

# if we are building with code coverage, report it as soon as possible
# libtorrent is the name of the test suite target
  - cd $TRAVIS_BUILD_DIR/test;
  - 'if [ "$coverage" == "1" ]; then
      ${B2} -j2 -l300 warnings-as-errors=on $variant $toolset deprecated-functions=off deterministic-tests &&
      codecov --root .. >/dev/null &&
      cd $TRAVIS_BUILD_DIR/simulation &&
      ${B2} -j2 crypto=built-in warnings-as-errors=on warnings=all $variant $toolset deprecated-functions=off &&
      codecov --root .. >/dev/null;
    fi'

  - cd $TRAVIS_BUILD_DIR/test;
  - 'if [ "$tests" == "1" ]; then
      ${B2} -j2 warnings-as-errors=on ${B2_ARGS} testing.execute=off &&
      travis_retry ${B2} -j3 warnings-as-errors=on ${B2_ARGS} -l300 &&
      travis_retry ${B2} -j2 warnings-as-errors=on ${B2_ARGS} test_upnp test_natpmp enum_if -l300 &&
      if [[ $TRAVIS_OS_NAME != "osx" ]]; then
        travis_retry ${B2} -j2 warnings-as-errors=on ${B2_ARGS} test_lsd -l300;
      fi;
    fi'

  # build fuzzers with the same build configuration as the test above, to avoid
  # rebuilding libtorrent itself.
  - cd $TRAVIS_BUILD_DIR/fuzzers;
  - 'if [ "$fuzzers" == "1" ]; then
      ${B2} -j2 warnings-as-errors=on warnings=all ${B2_ARGS} fuzz=off link=shared stage;
    fi'

  - cd $TRAVIS_BUILD_DIR/examples;
  - 'if [ "$examples" == "1" ]; then
      ${B2} -j2 warnings-as-errors=on ${B2_ARGS} link=shared;
    fi'

  - cd $TRAVIS_BUILD_DIR/tools;
  - 'if [ "$tools" == "1" ]; then
      ${B2} -j2 warnings-as-errors=on ${B2_ARGS} link=shared;
    fi'

  - cd $TRAVIS_BUILD_DIR;
  - if [[ $ios == "1" ]]; then
      ${B2} -j2 -q warnings-as-errors=on darwin-ios darwin-ios_sim link=static cxxstd=14;
    fi

# a binary built with sanitizer does not interact well with python
# on OSX we need to use the brew version of python, for reasons explained above
# boost.python cannot be built with warnings-as-errors=on
  - cd $TRAVIS_BUILD_DIR/bindings/python;
  - 'if [[ "$python" == "1" ]]; then
      ${B2} -j2 ${B2_ARGS} stage_module stage_dependencies libtorrent-link=shared boost-link=shared &&
      if [[ $TRAVIS_OS_NAME == "osx" ]]; then
        DYLD_LIBRARY_PATH=./dependencies python3 test/test.py -b;
      else
        LD_LIBRARY_PATH=./dependencies python3 test/test.py -b;
      fi;
    fi'
  - 'if [[ "$python_dist" == "1" ]]; then
      python setup.py bdist;
    fi'
  - cd ../..;

# simulation
  - cd $TRAVIS_BUILD_DIR/simulation;
  - 'if [[ "$sim" == "1" ]]; then
      ${B2} -j2 crypto=built-in warnings-as-errors=on warnings=all debug-iterators=on picker-debugging=on asserts=on invariant-checks=full $toolset deprecated-functions=off;
    fi'

# minimal support for cmake build
  - cd $TRAVIS_BUILD_DIR;
  - mkdir build && cd build
  - if [[ "$cmake" == "1" ]]; then
      export CXX=g++ &&
      export CC=gcc &&
      BOOST_LIBRARYDIR=/usr/local/lib cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-Werror" -DCMAKE_CXX_STANDARD=14 -Dbuild_tests=ON -Dbuild_examples=ON -Dbuild_tools=ON -Dpython-bindings=ON -G Ninja .. &&
      cmake --build . --parallel 2;
    fi

# run through building a tarball and make sure it works
  - cd $TRAVIS_BUILD_DIR;
  - if [[ "$dist" == "1" ]]; then
      make dist &&
      cd libtorrent-rasterbar-2.0.1 &&
      make &&
      make python-binding tools examples &&
      cmake -GNinja . &&
      ninja;
    fi

  - ccache --show-stats
