version: "{build}"
branches:
  only:
    - master
    - RC_2_0
    - RC_1_2
    - RC_1_1
image: Visual Studio 2019
clone_depth: 1
environment:
  matrix:
    - cmake: 1
    - variant: debug
      compiler: msvc
      model: 64
      sim: 1
    - variant: debug
      compiler: msvc
      model: 32
      bjam: 1
    - variant: release
      compiler: msvc
      model: 64
      python: 1
      python_dist: 1
      crypto: openssl
      ssl_lib: c:\OpenSSL-v111-Win64\lib
      ssl_include: c:\OpenSSL-v111-Win64\include
      bjam: 1
    - variant: release
      compiler: msvc
      model: 64
      crypto: openssl
      webtorrent: on
      ssl_lib: c:\OpenSSL-v111-Win64\lib
      ssl_include: c:\OpenSSL-v111-Win64\include
      bjam: 1
      test_target: deterministic-tests

artifacts:
  - path: bindings/python/dist/*
    name: python-module

install:
  - git submodule update --init --recursive
  - set ROOT_DIRECTORY=%CD%
  - cd %ROOT_DIRECTORY%
  - if not defined compiler ( set compiler="" )
  - if not defined linking ( set linking="shared" )
  - if not defined crypto ( set crypto=built-in )
  - if not defined webtorrent ( set webtorrent=off )
  - if not defined ssl_lib ( set ssl_lib=c:\ )
  - if not defined ssl_include ( set ssl_include=c:\ )
  - if not defined test_target ( set test_target="" )
  - cd %ROOT_DIRECTORY%
  - set BOOST_ROOT=c:\Libraries\boost_1_71_0
  - set BOOST_BUILD_PATH=%BOOST_ROOT%\tools\build
  - echo %BOOST_ROOT%
  - echo %BOOST_BUILD_PATH%
  - set PATH=%PATH%;%BOOST_BUILD_PATH%
  - ps: '"using msvc ;`nusing python : 3.6 : c:\\Python36-x64 : c:\\Python36-x64\\include : c:\\Python36-x64\\libs ;`n" | Set-Content $env:HOMEDRIVE\$env:HOMEPATH\user-config.jam'
  - type %HOMEDRIVE%%HOMEPATH%\user-config.jam
  - cd %ROOT_DIRECTORY%
  - set PATH=c:\Python36-x64;%PATH%
  - set PYTHON_INTERPRETER=c:\Python36-x64\python.exe
  - python --version
  - python -m pip install websockets
  - echo %ROOT_DIRECTORY%
  - cd %BOOST_BUILD_PATH%
  - bootstrap.bat >nul
  - cd %ROOT_DIRECTORY%

build_script:
  # examples
  - cd %ROOT_DIRECTORY%\examples
  - if defined bjam (
    b2.exe --hash warnings=all warnings-as-errors=on -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=%linking% crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on openssl-include=%ssl_include% openssl-lib=%ssl_lib%
    )

  # tools
  - cd %ROOT_DIRECTORY%\tools
  - if defined bjam (
    b2.exe --hash warnings=all warnings-as-errors=on -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=%linking% crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on openssl-include=%ssl_include% openssl-lib=%ssl_lib%
    )

  # test
  - cd %ROOT_DIRECTORY%\test
  - if defined bjam (
    b2.exe --hash warnings=all warnings-as-errors=on -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=%linking% crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on testing.execute=off openssl-include=%ssl_include% openssl-lib=%ssl_lib%
    )

  # python binding
  - cd %ROOT_DIRECTORY%\bindings\python
  # we use 64 bit python builds
  # boost.python itself doesn't build warning free, so we can't build
  # with warnings-as-errors
  - if defined python (
    b2.exe --hash warnings=all -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=shared crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on libtorrent-link=%linking% stage_module stage_dependencies openssl-include=%ssl_include% openssl-lib=%ssl_lib%
    )
  - if defined python_dist (
    c:\Python36-x64\python.exe setup.py bdist --format=msi
    )

  # simulations
  - cd %ROOT_DIRECTORY%\simulation
  - if defined sim (
    b2.exe --hash warnings=all warnings-as-errors=on -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% debug-iterators=off picker-debugging=on invariant-checks=full debug boost-link=default link=static crypto=built-in define=BOOST_ASIO_DISABLE_IOCP asserts=on testing.execute=off
    )

  # minimal support for cmake build
  # we need to build the boost libraries we use with C++17
  # and stage it for cmake to pick up
  - if defined cmake (
    cd %BOOST_ROOT% &&
    b2.exe cxxstd=17 release --with-python --with-system --layout=system address-model=64 link=shared stage &&
    cd %ROOT_DIRECTORY% &&
    mkdir build &&
    cd build &&
    cmake -DBOOST_LIBRARYDIR=%BOOST_ROOT%\stage\lib -DCMAKE_CXX_STANDARD=17 -Dbuild_tests=ON -Dbuild_examples=ON -Dbuild_tools=ON -Dpython-bindings=%python% -Dboost-python-module-name="python" -Dskip-python-runtime-test=true -DPython_ADDITIONAL_VERSIONS="2.7" -G "Visual Studio 16 2019" -A x64 .. &&
    cmake --build . --config Release --parallel %NUMBER_OF_PROCESSORS% -- -verbosity:minimal
    )

test_script:
  - cd %ROOT_DIRECTORY%\test
  - if defined bjam (
    appveyor-retry b2.exe -l500 --hash warnings=all warnings-as-errors=on -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=%linking% crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on openssl-include=%ssl_include% openssl-lib=%ssl_lib% %test_target%
    )

  - cd %ROOT_DIRECTORY%\bindings\python
  # we use 64 bit python build
  - if defined python (
    copy dependencies\*.* .
    & c:\Python36-x64\python.exe test.py -b
    )

  - if defined cmake (
    appveyor-retry ctest
    )

  # simulation tests
  # debug iterators are turned off here because msvc has issues with noexcept
  # specifiers when debug iterators are enabled. Specifically, constructors that
  # allocate memory are still marked as noexcept. That results in program
  # termination
  # the IOCP backend in asio appears to have an issue where it hangs under
  # certain unexpected terminations (through exceptions)
  - cd %ROOT_DIRECTORY%\simulation
  - if defined sim (
    b2.exe --hash warnings-as-errors=on -j %NUMBER_OF_PROCESSORS% %compiler% address-model=%model% debug-iterators=off picker-debugging=on invariant-checks=full debug boost-link=default link=static crypto=built-in define=BOOST_ASIO_DISABLE_IOCP asserts=on
    )
