version: 1.0.{build}
branches:
  only:
  - master
os: Visual Studio 2015
clone_depth: 1
environment:
  matrix:
  - variant: test_debug
    compiler: msvc-12.0
    x64: 1
    sim: 1
    linkflags32: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib"'
    linkflags64: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib64"'
    include: '"c:\\openssl-1.0.1p-vs2013\\include"'
  - variant: test_debug
    compiler: msvc-10.0
    linkflags32: '"/LIBPATH:C:\\openssl-1.0.1p-vs2010\\lib"'
    linkflags64: '"/LIBPATH:C:\\openssl-1.0.1p-vs2010\\lib64"'
    include: '"c:\\openssl-1.0.1p-vs2010\\include"'
  - variant: test_debug
    compiler: msvc-14.0
    linkflags32: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib"'
    linkflags64: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib64"'
    include: '"c:\\openssl-1.0.1p-vs2013\\include"'
  - variant: test_barebones
    compiler: msvc-12.0
    x64: 1
    linkflags32: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib"'
    linkflags64: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib64"'
    include: '"c:\\openssl-1.0.1p-vs2013\\include"'
  - variant: test_release
    compiler: msvc-12.0
    x64: 1
    linkflags32: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib"'
    linkflags64: '"/LIBPATH:C:\\openssl-1.0.1p-vs2013\\lib64"'
    include: '"c:\\openssl-1.0.1p-vs2013\\include"'

# mingw and boost.random don't like each other. Comment this back in once there
# is support

#  - variant: test_debug
#    compiler: gcc
#    linkflags: '"-LC:\\OpenSSL-Win32\\lib"'

install:
- git submodule update --init --recursive
- set ROOT_DIRECTORY=%CD%
- cd %ROOT_DIRECTORY%
- if not exist c:\openssl-1.0.1p-vs2013\nul (
  appveyor DownloadFile http://www.npcglib.org/~stathis/downloads/openssl-1.0.1p-vs2013.7z
  && 7z x -oc:\ -aoa openssl-1.0.1p-vs2013.7z
  && copy c:\openssl-1.0.1p-vs2013\lib64\ssleay32MT.lib c:\openssl-1.0.1p-vs2013\lib64\ssleay32.lib
  && copy c:\openssl-1.0.1p-vs2013\lib64\libeay32MT.lib c:\openssl-1.0.1p-vs2013\lib64\libeay32.lib
  && copy c:\openssl-1.0.1p-vs2013\lib\ssleay32MT.lib c:\openssl-1.0.1p-vs2013\lib\ssleay32.lib
  && copy c:\openssl-1.0.1p-vs2013\lib\libeay32MT.lib c:\openssl-1.0.1p-vs2013\lib\libeay32.lib )
- if not exist c:\openssl-1.0.1p-vs2010\nul (
  appveyor DownloadFile http://www.npcglib.org/~stathis/downloads/openssl-1.0.1p-vs2010.7z
  && 7z x -oc:\ -aoa openssl-1.0.1p-vs2010.7z
  && copy c:\openssl-1.0.1p-vs2010\lib64\ssleay32MT.lib c:\openssl-1.0.1p-vs2010\lib64\ssleay32.lib
  && copy c:\openssl-1.0.1p-vs2010\lib64\libeay32MT.lib c:\openssl-1.0.1p-vs2010\lib64\libeay32.lib
  && copy c:\openssl-1.0.1p-vs2010\lib\ssleay32MT.lib c:\openssl-1.0.1p-vs2010\lib\ssleay32.lib
  && copy c:\openssl-1.0.1p-vs2010\lib\libeay32MT.lib c:\openssl-1.0.1p-vs2010\lib\libeay32.lib )
- cd %ROOT_DIRECTORY%
- set BOOST_ROOT=c:\Libraries\boost
- set BOOST_BUILD_PATH=%BOOST_ROOT%\tools\build
- echo %BOOST_ROOT%
- echo %BOOST_BUILD_PATH%
- set PATH=%PATH%;%BOOST_BUILD_PATH%\src\engine\bin.ntx86
- 'echo using msvc : 10.0 ; >%HOMEDRIVE%%HOMEPATH%\user-config.jam'
- 'echo using msvc : 12.0 ; >>%HOMEDRIVE%%HOMEPATH%\user-config.jam'
- 'echo using msvc : 14.0 ; >>%HOMEDRIVE%%HOMEPATH%\user-config.jam'
- echo using gcc ; >>%HOMEDRIVE%%HOMEPATH%\user-config.jam
- type %HOMEDRIVE%%HOMEPATH%\user-config.jam
- cd %ROOT_DIRECTORY%
- set PATH=%PATH%;c:\Mingw\bin
- g++ --version
- python --version
- echo %ROOT_DIRECTORY%
cache:
- C:\openssl-1.0.1p-vs2013
- C:\openssl-1.0.1p-vs2010
build_script:
- cd %ROOT_DIRECTORY%\examples
- b2.exe --hash -j2 %compiler% variant=%variant% linkflags=%linkflags32% include=%include%
- cd %ROOT_DIRECTORY%\test
- b2.exe --hash -j2 address-model=32 win-tests %compiler% variant=%variant% link=shared linkflags=%linkflags32% include=%include%
- if defined x64 (
    b2.exe --hash -j2 address-model=64 win-tests %compiler% variant=%variant% link=shared linkflags=%linkflags64% include=%include%
  )
- cd %ROOT_DIRECTORY%\bindings\python
- b2.exe --hash -j2 %compiler% stage_module variant=%variant% linkflags=%linkflags32% include=%include%
- python test.py
- if defined sim (
  cd %ROOT_DIRECTORY%\simulation
  && b2.exe --hash -j2 crypto=built-in %compiler%
  )


