version: "{build}"
branches:
  only:
    - master
image: Visual Studio 2019
clone_depth: 1
environment:
  matrix:
    - variant: debug
      compiler: gcc
      model: 32
      crypto: openssl
      ssl_lib: /usr/local/include
      ssl_include: /usr/local/lib
      lib: 1
    - cmake: 1
      crypto: openssl
      ssl_root_dir: c:\OpenSSL-Win64
      webtorrent: on
    - variant: release
      compiler: msvc
      model: 64
      crypto: openssl
      ssl_lib: c:\OpenSSL-Win64\lib
      ssl_include: c:\OpenSSL-Win64\include
      webtorrent: on
      tests: 1

artifacts:
  - path: bindings/python/dist/*
    name: python-module

install:
  - git submodule update --init --recursive
  - set ROOT_DIRECTORY=%CD%
  - cd %ROOT_DIRECTORY%
  - if not defined api ( set api="desktop" )
  - if not defined compiler ( set compiler="" )
  - if not defined linking ( set linking="shared" )
  - if not defined crypto ( set crypto=built-in )
  - if not defined webtorrent ( set webtorrent=off )
  - if not defined ssl_lib ( set ssl_lib=c:\ )
  - if not defined ssl_include ( set ssl_include=c:\ )
  - if not defined ssl_root_dir ( set ssl_root_dir=c:\ )
  - cd %ROOT_DIRECTORY%
  - set BOOST_ROOT=c:\Libraries\boost_1_89_0
  - set BOOST_BUILD_PATH=%BOOST_ROOT%\tools\build
  - echo %BOOST_ROOT%
  - echo %BOOST_BUILD_PATH%
  - set PATH=%PATH%;%BOOST_BUILD_PATH%
  - ps: '"using msvc ;`nusing python : 3.8 : c:\\Python38-x64 : c:\\Python38-x64\\include : c:\\Python38-x64\\libs ;`n" | Set-Content $env:HOMEDRIVE\$env:HOMEPATH\user-config.jam'
  - type %HOMEDRIVE%%HOMEPATH%\user-config.jam
  - cd %ROOT_DIRECTORY%
  - set PATH=c:\Python38-x64;%PATH%
  - set PYTHON_INTERPRETER=c:\Python38-x64\python.exe
  - python --version
  - python -m pip install websockets
  - echo %ROOT_DIRECTORY%
  - cd %BOOST_BUILD_PATH%
  - bootstrap.bat >nul
  - cd %ROOT_DIRECTORY%

build_script:

  # just the library
  - cd %ROOT_DIRECTORY%
  - if defined lib (
    b2.exe --hash openssl-lib=%ssl_lib% openssl-include=%ssl_include% warnings=all warnings-as-errors=on %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=shared crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on windows-api=%api% windows-version=win10 cxxstd=17
    )

  # test
  - cd %ROOT_DIRECTORY%\test
  - if defined tests (
    b2.exe --hash openssl-lib=%ssl_lib% openssl-include=%ssl_include% warnings=all warnings-as-errors=on %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=shared crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on windows-api=%api% windows-version=win10 testing.execute=off deterministic-tests
    )

  # python binding
  - cd %ROOT_DIRECTORY%\bindings\python
  # we use 64 bit python builds
  # boost.python itself doesn't build warning free, so we can't build
  # with warnings-as-errors
  - if defined python (
    b2.exe --hash openssl-lib=%ssl_lib% openssl-include=%ssl_include% warnings=all %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=shared crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on windows-api=%api% windows-version=win10 libtorrent-link=shared stage_module stage_dependencies
    )
  - if defined python_dist (
    c:\Python38-x64\python.exe setup.py bdist --format=msi
    )

  # minimal support for cmake build
  # we need to build the boost libraries we use with C++17
  # and stage it for cmake to pick up
  - if defined cmake (
    call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat" &&
    cd %BOOST_ROOT% &&
    b2.exe cxxstd=17 release --with-python --with-system --layout=system address-model=64 link=shared stage &&
    cd %ROOT_DIRECTORY% &&
    cmake -B build -DBOOST_LIBRARYDIR=%BOOST_ROOT%\stage\lib -DCMAKE_CXX_STANDARD=17 -Dbuild_tests=ON -Dbuild_examples=ON -Dbuild_tools=ON -Dwebtorrent=%webtorrent% -DOPENSSL_ROOT_DIR=%ssl_root_dir% -Dpython-bindings=%python% -Dboost-python-module-name="python" -Dskip-python-runtime-test=true -DPython_ADDITIONAL_VERSIONS="2.7" -G "Ninja Multi-Config" &&
    cmake --build build --config Release
    )

test_script:
  - cd %ROOT_DIRECTORY%\test
  - set PATH=%PATH%;c:\OpenSSL-v111-Win64\bin
  - if defined tests (
    appveyor-retry b2.exe -l500 --hash openssl-lib=%ssl_lib% openssl-include=%ssl_include% warnings=all warnings-as-errors=on %compiler% address-model=%model% picker-debugging=on invariant-checks=full variant=%variant% link=shared crypto=%crypto% webtorrent=%webtorrent% asserts=on export-extra=on windows-api=%api% windows-version=win10 deterministic-tests
    )

  - if defined cmake (
    appveyor-retry ctest
    )
