Source: libtorrent-rasterbar-0.13
Section: libs
Priority: extra
Maintainer: Roman Rybalko <libtorrent@romanr.info>
Build-Depends: debhelper (>= 5), automake, libboost-thread-dev, libboost-date-time-dev,
 libboost-filesystem-dev, libboost-regex-dev, libboost-program-options-dev
Standards-Version: 3.7.3

Package: libtorrent-rasterbar-0.13-dev
Section: libdevel
Architecture: i386 i586 i686 amd64
Depends: libtorrent-rasterbar-0.13 (= ${Source-Version})
Description: Rasterbar Torrent library, headers.
 libtorrent is a C++ library that aims to be a good alternative to all
 the other bittorrent implementations around. It is a library and not a
 full featured client, although it comes with a working example client.

Package: libtorrent-rasterbar-0.13
Section: libs
Architecture: i386 i586 i686 amd64
Depends: libboost-thread1.34.1, libboost-date-time1.34.1, libboost-filesystem1.34.1
Conflicts: libtorrent, libtorrent12, libtorrent-0.12, libtorrent13, libtorrent-0.13, libtorrent-rasterbar
Description: Rasterbar Torrent library, libs.
 libtorrent is a C++ library that aims to be a good alternative to all
 the other bittorrent implementations around. It is a library and not a
 full featured client, although it comes with a working example client.
