Source: libtorrent
Priority: optional
Section: libs
Maintainer: Michael Wojciechowski <wojci@wojci.dk>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, 
               libboost-thread1.31.0, libboost-thread-dev,
               libboost-date-time1.31.0, libboost-date-time-dev,
               libboost-filesystem1.31.0, libboost-filesystem-dev
Standards-Version: 3.6.2

Package: libtorrent0-dev
Section: libdevel
Architecture: any
Depends: libtorrent0 (= ${Source-Version})
Provides: libtorrent-dev
Conflicts: libtorrent-dev
Description: Torrent library, headers.
 libtorrent is a C++ library that aims to be a good alternative to all
 the other bittorrent implementations around. It is a library and not a
 full featured client, although it comes with a working example client.

Package: libtorrent0
Section: libs
Architecture: any
Depends: ${shlibs:Depends} libboost-thread1.31.0, libboost-date-time1.31.0, libboost-filesystem1.31.0
Description: Torrent library, libs.
 libtorrent is a C++ library that aims to be a good alternative to all
 the other bittorrent implementations around. It is a library and not a
 full featured client, although it comes with a working example client.
