.document a {
    border: none;
    color: black;
}

.document a:hover {
    background: none;
} 

.document a.reference {
    color: #8D370A;
    border-bottom: dotted 1px #8D370A;
}

.document a.reference:hover {
    border-bottom: solid 1px #8D370A;
    background: #eee;
}

div.section {
    margin-bottom: 3em;
}

div.section div.section div.section {
    margin-bottom: 2em;
}

div.section p, div.section ul, div.section dl {
}

div.main-toc {
	column-count: 4;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-width: 13em;
	-webkit-column-width: 13em;
	-moz-column-width: 13em;
	border: 1px solid #999;
	padding: 5px;
	margin-bottom: 10px;
}

.rubric
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 120%;
	font-weight: bold;
}

table.docinfo {
    text-align: left;
    float: right;
    width: 200px;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
}

table.docinfo th {
    border-top: none;
    font-size: 72%;
    padding-left: 10px;
}

table.docinfo td {
    padding-left: 10px;
    font-size: 88%;
}

table.docinfo tr.field td, table.docinfo tr.field th {display: none;}

#h1.title { display: none; }

dt {
    margin-bottom: 0.5em;
    color: #000;
    font-weight: bold;
}

dd {
    margin-left: 2em;
    margin-bottom: 1em;
}

tt {
    font: 1em "Courier New", "Courier";
    font-size: 110%;
}

pre {
    font-family: "Courier", monospace;
    margin-right: 10px;
    background: #C1E5F6;
    border-left: solid 2px #6185A6;
    border-right: solid 2px #6185A6;
    padding: 5px 10px 5px 10px;

    background: #f6f6f6;
    border: solid 1px #ddd;
    margin: 1em 0;
}

div.warning, div.note, div.important {
    width: 80%;
    margin: 1.5em auto;
    background: #C1E5F6;
    background: #F1FFF5;
    border: solid 1px #D1DFD5;
    padding: 5px 10px 5px 10px;
}

p.admonition-title {
    font-family: Georgia, "Lucida Grande";
    font-size: 128%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    border-bottom: solid 1px #D1DFD5
}

h1 { font-size: 200%; }
h2 { font-size: 130%; }
h3 { font-size: 100%; font-style: italic; }

h1.title { text-align: center; }

table { margin-bottom: 1em; border-collapse: collapse; }
table, th, td { border: none; }

th, td { padding: 0.3em; }

th { 
    text-align: left;
    background: #f0f0e0; 
    border-right: solid 1px #f0f0e0;
    border-top: solid 1px #e8e8d8;
    border-bottom: solid 1px #e8e8d8;
}

td { 
    background: #f8f8e8; 
    border-right: solid 1px #f8f8e8;
    border-bottom: solid 1px #e8e8d8;
}

td td {
    background: #e8e8d8; 
    border-right: solid 1px #e8e8d8;
    border-bottom: solid 1px #d8d8c8;
}

div.topic {
    border-left: solid 1px #eee;
    padding-left: 1em;
    margin: 0 0 1.5em;
}

p.topic-title {
    font: 1.3em Georgia, "Times New Roman", serif;
}

/* TOC */

div.contents {
    border: none;
}

#table-of-contents {
    margin-left: 20px;
    padding: 0 0 1em;
    width: 200px;
    float: right;
    clear: right;
    background: url('img/blue_bottom.png') no-repeat bottom left;
    border-right: solid 1px #A1C5D6;
}

#table-of-contents p {
    font-family: Georgia, "Times New Roman", serif;
    background: #A1C5D6 url('img/blue_top.png') no-repeat top left;
    color: #AD370A;
    padding: 0.5em;
    margin: 0;
}

#table-of-contents li {
    margin: 0 0.5em 0 0.5em;
}

#table-of-contents ul {
    margin: 0;
    padding: 0 0 0 0.8em;
    list-style: none;
    text-align: left;
    line-height: 1.5em;
}

#table-of-contents ul ul {
    background: url('img/dotline.gif') repeat-y;
}

#table-of-contents a.reference {
    border: none;
    font: 0.88em Tahoma;
    font-weight: bold;
    color: #000050;
    margin-right: 1em;
    background: url('img/minus.gif') no-repeat left 50%;
    padding-left: 15px;
}

#table-of-contents li li a.reference {
    font-weight: normal;
    background: none;
    padding: 0;
}

#table-of-contents a.reference:hover
{
   border-bottom: solid 1px #8D370A;
}

#librarySidebar {
    float: left;
    width: 170px;
}

#libraryBody {
    border-left: solid 1px #eee;
    padding-left: 10px;
    margin-left: 178px;
    margin-right: 10px;
}

.keyword { font-weight: bold }
.string { color: #771; }
.comment { font-style: italic; color: #559; }
.preproc { font-style: italic; color: #959; }
.number { color: #595; }

