name: C bindings

on:
   push:
      branches: [ RC_1_2 RC_2_0 master ]
   pull_request:

jobs:
  test:
    name: build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-2019 ]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: dependencies (MacOS)
      if: runner.os == 'macOS'
      run: |
        brew install boost-build boost

    - name: update package lists (linux)
      if: runner.os == 'Linux'
      continue-on-error: true
      run: |
        sudo apt update

    - name: dependencies (linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt install libboost-tools-dev libboost-dev libboost-system-dev

    - name: install boost (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        git clone --depth=1 --recurse-submodules -j10 --branch=boost-1.72.0 https://github.com/boostorg/boost.git
        cd boost
        bootstrap.bat

    - name: boost headers (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        cd boost
        .\b2 headers

    - name: build (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        set BOOST_ROOT=%CD%\boost
        set BOOST_BUILD_PATH=%BOOST_ROOT%\tools\build
        set PATH=%BOOST_ROOT%;%PATH%

        cd bindings\c
        b2

    - name: build
      if: runner.os != 'Windows'
      run: |
        cd bindings/c
        b2
