name: Documentation

on:
   push:
      branches: [ RC_1_2 RC_2_0 master ]
   pull_request:

concurrency:
   group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}
   cancel-in-progress: true

jobs:

   docs:
      name: Docs
      runs-on: ubuntu-slim

      steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
           fetch-depth: 1
           filter: tree:0

      - name: update package lists
        continue-on-error: true
        run: |
          sudo apt update

      - name: install dependencies
        run: |
          sudo apt install python3-docutils python3-pygments python3-pil gsfonts inkscape icoutils graphviz hunspell imagemagick
          python3 -m pip install aafigure
          ~/.local/bin/aafigure --version

      - name: spell-check
        run: |
          cd docs
          make AAFIGURE=~/.local/bin/aafigure RST2HTML=rst2html spell-check html

      - name: build docs
        run: |
          cd docs
          make AAFIGURE=~/.local/bin/aafigure RST2HTML=rst2html
