name: Python bindings

on:
   push:
      branches: [ RC_1_2 RC_2_0 master ]
   pull_request:

concurrency:
   group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}
   cancel-in-progress: true

env:
   HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
   HOMEBREW_NO_AUTO_UPDATE: 1

jobs:

  test:
    name: build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-24.04, macos-14, windows-latest ]

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
        fetch-depth: 1
        filter: tree:0

    - name: dependencies (MacOS)
      if: runner.os == 'macOS'
      run: |
        brew install boost-build boost boost-python3 python@3.14 openssl@3 python-setuptools
        export PATH=$(brew --prefix)/opt/python@3.14/bin:$PATH

    - name: update package lists (linux)
      if: runner.os == 'Linux'
      continue-on-error: true
      run: |
        sudo apt update

    - uses: Chocobo1/setup-ccache-action@v1
      if: runner.os != 'Windows'
      with:
        update_packager_index: false
        override_cache_key: ccache-python-${{ matrix.os }}-${{ github.base_ref }}
        ccache_options: |
          max_size=500M

    - name: dependencies (linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt install libboost-tools-dev libboost-python-dev libboost-dev libboost-system-dev python3 python3-setuptools libssl-dev

    - name: install boost (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        git clone --depth=1 --recurse-submodules -j10 --branch=boost-1.88.0 https://github.com/boostorg/boost.git
        cd boost
        bootstrap.bat

    - name: boost headers (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        cd boost
        .\b2 headers

    - name: build/install (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        set BOOST_ROOT=%CD%\boost
        set BOOST_BUILD_PATH=%BOOST_ROOT%\tools\build
        set PATH=%BOOST_ROOT%;%PATH%

        cd bindings\python
        python setup.py build_ext --b2-args "debug asserts=on invariant-checks=full" install --user --prefix=

    #- name: debug python module
    #  if: runner.os == 'Windows'
    #  shell: powershell
    #  run: |
    #    try {
    #        Add-Type -Path "C:\Users\runneradmin\AppData\Roaming\Python\Python39\site-packages\libtorrent-2.0.11-py3.9-win-amd64.egg\libtorrent\__init__.cp39-win_amd64.pyd"
    #    } catch {
    #        Write-Host $_.Exception.LoaderExceptions
    #    }

    - name: try load python module
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        where python39.dll
        where CRYPT32.dll
        where libcrypto-3-x64.dll
        where dbghelp.dll
        where libssl-3-x64.dll
        where IPHLPAPI.DLL
        where WS2_32.dll
        where WSOCK32.dll
        where MSVCP140D.dll
        where KERNEL32.dll
        where VCRUNTIME140D.dll
        where VCRUNTIME140_1D.dll
        where ucrtbased.dll
        curl -L -o dependencies.zip https://github.com/lucasg/Dependencies/releases/latest/download/Dependencies_x64_Release.zip
        tar -xf dependencies.zip
        dependencies.exe -json -imports "C:\Users\runneradmin\AppData\Roaming\Python\Python39\site-packages\libtorrent-2.0.11-py3.9-win-amd64.egg\libtorrent\__init__.cp39-win_amd64.pyd" >deps.json
        type deps.json
        python -c "import libtorrent as lt; print(lt.version)"

    - name: tests (windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        cd bindings\python
        python -c "import libtorrent as lt; print(lt.version)"
        python test.py

    - name: build no-deprecated (Linux)
      if: runner.os == 'Linux'
      run: |
        cd bindings/python
        python3 setup.py build_ext --b2-args "deprecated-functions=off"

    - name: build/install (Linux)
      if: runner.os == 'Linux'
      run: |
        cd bindings/python
        python3 setup.py build_ext install --user --prefix=

    - name: build/install (MacOS)
      if: runner.os == 'macOS'
      run: |
        # Install to Homebrew's python site-packages. no need for --user and --prefix
        cd bindings/python
        export PATH=$(brew --prefix)/opt/python@3.14/bin:$PATH
        python3.14 setup.py build_ext install --install-lib $(brew --prefix)/lib/python3.14/site-packages

    - name: tests (Linux)
      if: runner.os == 'Linux'
      run: |
        cd bindings/python
        python3 test.py

    - name: tests (MacOS)
      if: runner.os == 'macOS'
      run: |
        cd bindings/python
        export PATH=$(brew --prefix)/opt/python@3.14/bin:$PATH
        python3.14 test.py
