name: Windows

on:
   push:
      branches: [ RC_1_2 RC_2_0 master ]
   pull_request:

defaults:
   run:
      shell: cmd

concurrency:
   group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}
   cancel-in-progress: true

jobs:

   tests:
      name: Test
      runs-on: windows-latest
      continue-on-error: true

      steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
           submodules: recursive

      - name: install boost
        run: |
          git clone --depth=1 --recurse-submodules -j10 --branch=boost-1.78.0 https://github.com/boostorg/boost.git
          cd boost
          bootstrap.bat

      - name: boost headers
        run: |
          cd boost
          .\b2 headers

      - name: tests
        run: |
          set BOOST_ROOT=%CD%\boost
          set BOOST_BUILD_PATH=%BOOST_ROOT%\tools\build
          set PATH=%BOOST_ROOT%;%PATH%
          set PYTHON_INTERPRETER=python
          cd test
          b2 -l400 debug-iterators=on invariant-checks=full asserts=on cxxstd=11 warnings=all warnings-as-errors=on
